body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 0, 109);
    color: rgb(240, 163, 232);
    font-family: 'Noto Sans', sans-serif;
}

.head {
    font-size: 3em;
    padding-bottom: 2.5%;
}

.master-container {
    display: flex;
    flex-direction: row;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 550px;
    height: 550px;
    border: solid rgb(240, 163, 232) 3px;
    border-radius: 10px;
}

.win-result {
    align-self: center;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-align: center;
    width: 180px;
    height: 180px;
}

.space:hover {
    background-color: rgb(26, 1, 134);
}

#position-0 {
    border-bottom: 5px solid rgb(240, 163, 232);
    border-right: 5px solid rgb(240, 163, 232);
}

#position-1 {
    border-bottom: 5px solid rgb(240, 163, 232);
}

#position-2 {
    border-bottom: 5px solid rgb(240, 163, 232);
    border-left: 5px solid rgb(240, 163, 232);
}

#position-3 {
    border-bottom: 5px solid rgb(240, 163, 232);
    border-right: 5px solid rgb(240, 163, 232);
}

#position-4 {
    border-bottom: 5px solid rgb(240, 163, 232);
    border-right: 5px solid rgb(240, 163, 232);
}

#position-5 {
    border-bottom: 5px solid rgb(240, 163, 232);
}

#position-6 {
    border-right: 5px solid rgb(240, 163, 232);
}

#position-7 {
    border-right: 5px solid rgb(240, 163, 232);
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.play-again {
    background-color: rgb(240, 163, 232);
    color: black;
    font-size: 1em;
    padding: 7px;
}