body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(250, 168, 243);
}

.head {
    font-size: 3em;
    padding-bottom: 2.5%;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 550px;
    height: 550px;
}

.win-result {
    align-self: center;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-align: center;
    width: 180px;
    height: 180px;
}

#position-0 {
    border-bottom: 5px solid rgb(250, 168, 243);
    border-right: 5px solid rgb(250, 168, 243);
}

#position-1 {
    border-bottom: 5px solid rgb(250, 168, 243);
}

#position-2 {
    border-bottom: 5px solid rgb(250, 168, 243);
    border-left: 5px solid rgb(250, 168, 243);
}

#position-3 {
    border-bottom: 5px solid rgb(250, 168, 243);
    border-right: 5px solid rgb(250, 168, 243);
}

#position-4 {
    border-bottom: 5px solid rgb(250, 168, 243);
    border-right: 5px solid rgb(250, 168, 243);
}

#position-5 {
    border-bottom: 5px solid rgb(250, 168, 243);
}

#position-6 {
    border-right: 5px solid rgb(250, 168, 243);
}

#position-7 {
    border-right: 5px solid rgb(250, 168, 243);
}

.play-again {
    position: absolute;
    top: 80%;
    display: block;
    font-size: 1em;
    padding: 5px;
}